<!-- Dock Component and Chat Button -->

<nav class="dock">
    <ul class="dock-links">
        <li><a href="#">
                <img src="/assets/icons/home.png" alt="home-icon" class="dock-icon">
                <div class="icon-hint"> Home</div>
            </a></li>
        <li><a href="#">
                <img src="/assets/icons/services.png" alt="services" class="dock-icon">
                <div class="icon-hint"> Services</div>
            </a></li>
        <li><a href="#">
                <img src="/assets/icons/info.png" alt="info-icon" class="dock-icon">
                <div class="icon-hint"> About</div>
            </a></li>
    </ul>
</nav>

<!-- Conatct button floating near dock -->
<div class="floating-button">
    <a href="#">
        <img src="/assets/icons/chat.png" alt="chat-icon" class="chat-icon">
    </a>
</div>